// ================================
// Tools
// ================================

.palette,
.toolkit,
.tools,
.blend {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: rem(30px);
}

// The two drawers
.drawer {
  flex-wrap: wrap;
  flex-direction: column;
  position: fixed;
  top: 0;
  padding: rem(10px);
  width: rem(260px);
  height: 100vh;
  background-color: getcolor(white);
  transition: 500ms linear all;
  will-change: translateX;
  z-index: 5;
  &.is-inView {
    transform: translateX(0);
  }
}

// Anything that holds two or more items between it on the main view
.toolkit {
  justify-content: space-between;
  width: rem(800px);
}

.toolkit-label {
  font-size: rem(16px);
  text-align: center;
  font-weight: 600;
  &-radio {
    display: inline;
  }
}

.toolkit-legend {
  font-weight: 600;
}

.tool {
  width: rem(200px);
  input {
    border: none;
  }
  input[type="radio"] {
    width: auto;
  }
}

.tool-radio-wrap {
  display: flex;
  align-items: center;
  margin-top: rem(7px);
  margin-bottom: rem(7px);
  height: rem(25px);
  label {
    margin-left: rem(7px);
    margin-bottom: 0;
  }
}

.tool-button {
  @include naked-button;
  display: block;
  padding: rem(10px) rem(20px);
  min-width: rem(100px);
  background-color: getcolor(teal);
  border: 2px solid transparent;
  border-radius: 3px;
  font-weight: 800;
  color: getcolor(white);
  text-align: center;
  transition: 250ms ease all;
  text-decoration: none;
  &:focus,
  &:hover {
    background-color: getcolor(teal, dark);
    color: getcolor(white);
    text-decoration: underline;
  }
  &:active {
    background-color: getcolor(white) !important;
    color: getcolor(teal, dark);
    border-color: getcolor(teal, dark);
  }
}

.palette-drawer-button {
  .tool-button {
    margin-left: auto;
    margin-right: 0;
  }
}

.brush-drawer-button {
  .tool-button {
    margin-left: 0;
    margin-right: auto;
  }
}

.tools {
  justify-content: space-around;
  left: 0vw;
  border-right: 1px solid getcolor(grey, dark);
  transform: translateX(-300px);
}

.tools,
.blend {
  .tool {
    margin-left: auto;
    margin-right: auto;
  }
}
